.page {
  max-width: 100vw;
  margin: 0 auto;
  background-color: rgb(25, 25, 27);
  font-family: "NunitoSans", sans-serif;
  color: #fff;
  animation-duration: 1.5s;
  animation-name: slidein;
  overflow-x: hidden;
}

@keyframes slidein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
