.home__button {
  width: 204px;
  min-height: 58px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  margin-top: 50px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: rgb(255, 255, 255, 0);
  color: #fff;
  transition: 0.35s ease-in-out;
  cursor: pointer;
}

.home__button:hover {
  background-color: #5454D4;
  border: 1px solid rgb(255, 255, 255, 0);
}

@media screen and (max-width: 767px) {
  .home__button {
    font-size: 16.0889px;
    line-height: 22px;
    width: 166px;
    min-height: 44px;
    background-color: #5454D4;
    border: 0;
  }
}

