.card__paragraph {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.500211px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  margin-top: 20px;
  width: 299px;
}

@media screen and (max-width: 767px) {
  .card__paragraph {
    font-size: 16px;
    line-height: 28px;
    width: 237px;
  }
}