.home__fon-blue {
  width: 33vw;
  height: 75vh;
  background: linear-gradient(rgb(84, 84, 212, .27), rgb(84, 84, 212, .11));
  background-size: cover;
  transform: rotate(-55deg) scale(1);
  border-radius: 155px;
  filter: blur(200px);
  position: absolute;
  top: -50px;
  left: 10px;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: pulse-blue;
  z-index: 0;
}

@keyframes pulse-blue {
  0 {
    opacity: 1;
    transform: rotate(-55deg) scale(1);
  }
  50% {
    opacity: .7;
    transform: rotate(-55deg) scale(.8);
  }
  100% {
    opacity: 1;
    transform: rotate(-55deg) scale(1);
  }
}


@media screen and (max-width: 767px) {
  .home__fon-blue {
    animation: none;
    opacity: 1;
    width: 33vw;
    height: 75vh;
    filter: blur(100px);
    top: 85px;
    left: 69px;
  }
}