.home__fon-orange {
  width: 35vw;
  height: 75vh;
  background: linear-gradient(rgba(251, 168, 28, 0.107), rgba(224, 86, 136, 0.0615));
  transform: rotate(65deg) scale(1);
  background-size: cover;
  border-radius: 155px;
  filter: blur(100px);
  position: absolute;
  top: 145px;
  left: 605px;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: pulse-orange;
  z-index: 0;
}

@keyframes pulse-orange {
  0 {
    opacity: 1;
    transform: rotate(65deg) scale(1);
  }
  50% {
    opacity: .7;
    transform: rotate(65deg) scale(.8);
  }
  100% {
    opacity: 1;
    transform: rotate(65deg) scale(1);
  }
}

@media screen and (max-width: 767px) {
  .home__fon-orange {
    width: 75vw;
    height: 75vh;
    filter: blur(52px);
    top: 565px;
    left: 52px;
  }
}