.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 10px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
  
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    max-width: 320px;
    padding: 140px 5px;
  }
}
