.button {
  background-color: rgb(0, 0, 0, 0.0);
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.500211px;
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 11px 42px;
  color: #fff;
  margin-left: 10px;
  transition: 0.35s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #5454D4;
  border: 1px solid rgb(255, 255, 255, 0);
}

@media screen and (max-width: 767px) {
  .button {
    display: none;
  }
}