.portfolio__fon-img-circle {
  background-image: url(../../../images/circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 222px;
  left: 1006px;
  width: 62px;
  height: 72px;
  position: absolute;
}


@media screen and (max-width: 767px) {
  .portfolio__fon-img-circle {
    top: 192px;
    left: 275px;
    width: 39px;
    height: 46px;
  }
}